<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <style type="text/css">
        body {
          max-width: 100%;
        }
        h1, h2, h3, h4, h5, h6 {
          text-align: center;
        }
        p {
          max-width: 38em;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <title>{{data.title}}</title>
</head>
<body>
    {% if data.h1 %}<h1>{{data.h1}}</h1>{% endif %}
    {% if data.pre_table %}<p>{{data.pre_table}}</p>{% endif %}
    <table style="width: 100%">
    <tr>{% for attribute in data.header %}
        <th>{{attribute}}</th>{% endfor %}
    </tr>{% for record in data.records %}
    <tr>{% for attribute in record %}
        <td>{{attribute}}</td>{% endfor %}
    </tr>{% endfor %}
    </table>
    {% if data.post_table %}<p>{{data.post_table}}</p>{% endif %}
</body>
</html>
